	<ng-include src="'app/templates/includes/main-menu.html'" onload="vm.loadOffcanvas()"></ng-include>

	<div class="row row-offcanvas">
			
		<div class="jumbotron" >
				
			<div class="container">
				<div class="row">
					
					<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-6 col-md-offset-0">
						<h1>IT School Odessa
								<sapan class="em-text">2016</sapan>
						</h1>
						<p>DataArt приглашает студентов и молодых IT-специалистов на бесплатные курсы для начинающих в IT</p>
						<div class="row">
							<div class="col-sm-12">
								<a class="cta-button" href="#" data-toggle="offcanvas-right">Регистрация</a>
								<a class="cta-button" href="#">Пройти тест</a>	
							</div>
								
						</div>
						
					</div>
					
							
					
				</div><!--/.row-->
			</div><!--/.container -->
		</div>



			<section class="registration sidebar-offcanvas-left">
					
														
								<form>
									
									<label class="reg-message">Зарегистрируйтесь для прохождения теста. Введите ваши реальные имя, фамилию и e-mail:</label>
									<div class="form-group">
										<label for="inputFirstName">Имя:</label>
										<input type="text" class="form-control" id="inputFirstName">
									</div>
									
									<div class="form-group">
										<label for="inputLastName">Фамилия:</label>
										<input type="text" class="form-control" id="inputLastName">
									</div>
									
									
									
									<div class="form-group">
										<label for="inputEmail">Email address</label>
										<input type="email" class="form-control" id="inputEmail">
									</div>
									
									<div class="reg-form-buttons">
																			
										<button id="reg-register" type="submit" class="btn btn-default btn-primary"  data-toggle="offcanvas-right">Регистрация</button>
										<button id="reg-cancel" type="submit" class="btn btn-default btn-primary" data-toggle="offcanvas-right">Отмена</button>
										
									</div>
								</form>
				
			</section>
			
			
			<section class="registration admin sidebar-offcanvas-right">
					
														
								<form>
									
									<label class="reg-message">Введите логин и пароль:</label>
									<div class="form-group">
										<label for="inputFirstName">Логин:</label>
										<input type="text" class="form-control" id="inputFirstName">
									</div>
									
									<div class="form-group">
										<label for="inputLastName">Пароль:</label>
										<input type="text" class="form-control" id="inputLastName">
									</div>
									
									
									
								<div class="reg-form-buttons">
																			
										<button id="reg-register" type="submit" class="btn btn-default btn-primary"  data-toggle="offcanvas-left">Регистрация</button>
										<button id="reg-cancel" type="submit" class="btn btn-default btn-primary" data-toggle="offcanvas-left">Отмена</button>
										
									</div>
								</form>
				
			</section>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				
		
	</div><!--row row-offcanvas row-offcanvas-left-->
	




    </div><!-- /.container -->

